# Ignore the virtual environment directory
.venv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment files
.env
*.env

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp
*.bak
*.swp

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS specific files
.DS_Store

# Ignore test output
coverage/
*.cover
*.coverage
*.coverage.*
.cache
nosetests.xml
coverage.xml
*.coveragerc
